<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <canvas id="canvas" style="border: none;" width="1024" height="1024"></canvas>

    <script id="shader-fs-white" type="x-shader/x-fragment">
      precision mediump float;

      void main(void) {
        gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
      }
    </script>
    <script id="shader-fs-rgba" type="x-shader/x-fragment">
      precision mediump float;
      uniform vec4 color;

      void main(void) {
        gl_FragColor = color;
      }
    </script>
    <script id="shader-vs-basic" type="x-shader/x-vertex">
      // with this shader the world will fill the whole viewport
      attribute vec2 modelVertex;

      uniform vec2 position;
      uniform float worldSize;
      uniform float modelSize;

      void main(void) {
        /* 
        ** the fourth component is worldSize because the GPU pipeline 
        ** will divide gl_Position.xyz by gl_Position.w
        */
        gl_Position = vec4((modelVertex * modelSize / 2.0) + position, 0.0, worldSize / 2.0); 
      }
    </script>
    
    <script id="shader-fs-borders" type="x-shader/x-fragment">
      precision mediump float;
      
      varying vec2 quadCoord;
      varying float modelSz;

      void main(void) {
        float margin = 0.05 / modelSz;
        if (quadCoord.x > 1.0 - margin
          || quadCoord.x < 0.0 + margin
          || quadCoord.y > 1.0 - margin
          || quadCoord.y < 0.0 + margin
        ) {
          gl_FragColor = vec4(1.0, 1.0, 1.0, 0.2);
        } else {
          gl_FragColor = vec4(0.0, 0.0, 0.0, 0.0);
        }
      }
    </script>

    <script id="shader-vs-quadcoord" type="x-shader/x-vertex">
      // with this shader the world will fill the whole viewport
      attribute vec2 modelVertex;
      attribute vec2 quadCoordIn;

      uniform vec2 position;
      uniform float worldSize;
      uniform float modelSize;

      varying float modelSz;

      varying vec2 quadCoord;

      void main(void) {
        // pass the quadCoord to the fragment shader
        quadCoord = quadCoordIn;
        modelSz = modelSize;
        /*
        ** the fourth component is worldSize because the GPU pipeline
        ** will divide gl_Position.xyz by gl_Position.w
        */
        gl_Position = vec4((modelVertex * modelSize / 2.0) + position, 0.0, worldSize / 2.0); 
      }
    </script>
  </body>
</html>
